<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css"  integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
</head>

<body>
    <nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow">
        <div class="container">
            <a class="navbar-brand col-md-3 col-lg-2 mr-0 px-3" href="/dashboard">OpenCities Lab</a>

        </div>
    </nav>

    <div class="container mt-5">
        <div class="row">
            <div class="col-lg-3">

            </div>
            <div class="col-lg-9 col-md-4 col-sm-9 col-xs-9">
                <div class="card-deck">
                    {% for weather in weather_data %}
                        <div class="card p-4">
                            <div class="d-flex">
                                <h6 class="flex-grow-1">{{  weather.city }}, {{ weather.country_code }}</h6>
                                <h6>16:08</h6>
                            </div>
                            <div class="d-flex flex-column temp mt-5 mb-3">
                                <h1 class="mb-0 font-weight-bold" id="heading"> {{ weather.temperature }}° C </h1> <span class="small grey">{{ weather.description }}</span>
                            </div>
                            <div class="d-flex">
                                <div class="temp-details flex-grow-1">
                                    <p class="my-1"> <img src="https://i.imgur.com/B9kqOzp.png" height="17px"> <span> 40 km/h </span> </p>
                                    <p class="my-1"> <i class="fa fa-tint mr-2" aria-hidden="true"></i> <span>{{ weather.temperature_min }}% </span> </p>
                                    <p class="my-1"> <img src="https://i.imgur.com/wGSJ8C5.png" height="17px"> <span> {{ weather.temperature_max }}</span> </p>
                                </div>
                                <div> <img src="https://openweathermap.org/img/w/{{ weather.icon }}.png" width="50px" width="50px"> {{ weather.icon }} </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>

<footer>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js" integrity="sha384-LtrjvnR4Twt/qOuYxE721u19sVFLVSA4hf/rRt6PrZTmiPltdZcI7q7PXQBYTKyf" crossorigin="anonymous"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

</footer>
</body>

</html>